google-genai
google-auth-oauthlib
google-api-python-client
edge-tts
moviepy==1.0.3
imageio-ffmpeg==0.4.9
numpy<1.24.0
pillow
requests
python-dotenv
opencv-python-headless
--extra-index-url https://download.pytorch.org/whl/cpu
torch
timm
